<template>
  <q-page class="flex flex-center bg-blue-grey-10 text-white">
    <loader/>
  </q-page>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Loader from "components/Loader";

export default {
  name: "LoginPage",
  components: {Loader},
  methods: {
    ...mapMutations('main', ['setConfigName'])
  },
  mounted() {
    this.setConfigName('');
  }
}
</script>

<style scoped>

</style>
