<template>
  <q-page class="flex flex-center bg-blue-grey-10 text-white">
    <div v-if="rolled === false" class="flex-block bg-blue-grey-9 desktop-size rounded-corners">
      <div class="row">
        <div class="col">
          <div class="q-pa-md float-right">
            <span class="tag label tag text-light-green-5">Games</span>
            <q-input
              dark
              color="light-green-5"
              v-model.number="games"
              type="number"
              rounded outlined
              min="1"
            />
          </div>
        </div>
        <div class="col">
          <div class="q-pa-md float-left">
            <span class="tag label tag text-light-green-5">Rolls</span>
            <q-input
              dark
              color="light-green-5"
              v-model.number="rolls"
              type="number"
              rounded outlined
              min="1"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col center">
          <q-btn
            @click="roll()"
            class="glossy"
            rounded
            color="primary"
            label="Roll"
            style="width: 50%"
          />
        </div>
      </div>
    </div>
    <div v-else class="flex-block bg-blue-grey-9 desktop-size rounded-corners middle-size">
      <div v-for="(result, index) in results" :key="result.id">
        <div class="row">
          <div class="col desktop-size center text-weight-bolder">
            <span>
              <span class="text-light-green-5">Roll: </span>
              <span class="text-white text-bold">{{ index + 1 }}</span>
              <span class="text-red-5"> : </span><br>
              <span class="text-light-green-5">Team 1</span>
              <span class="text-red-5"> : </span>
              <span class="text-white" v-html="result.team1.replaceAll('_', ', ')"/><br>
              <span class="text-light-green-5">Team 2</span>
              <span class="text-red-5"> : </span>
              <span class="text-white" v-html="result.team2.replaceAll('_', ', ')"/><br>
            </span>
          </div>
        </div>
      </div>
      <div v-if="loading === true" class="row center">
        <loader/>
      </div>
      <div v-if="loading === false" class="row center">
        <div class="text-weight-bolder text-bold">
          <h6 class="center" style="margin: 10px">
            <span class="text-yellow">FINAL&nbsp;ROLL</span>
            <span class="text-white">&nbsp;:&nbsp;</span>
          </h6>
          <h6 class="center" style="margin: 5px">
            <span class="text-yellow">Team 1</span>
            <span class="text-red-5">&nbsp;:&nbsp;</span>
            <span class="text-white text-bold">{{ finalTeam1 }}</span>
          </h6>
          <h6 class="center" style="margin: 5px">
            <span class="text-yellow">Team 2</span>
            <span class="text-red-5">&nbsp;:&nbsp;</span>
            <span class="text-white text-bold">{{ finalTeam2 }}</span>
          </h6>
        </div>
      </div>
      <div v-if="loading === false" class="row">
        <div class="col center">
          <q-btn
            @click="reset()"
            class="glossy"
            rounded
            color="light-green-10"
            label="Back"
            style="width: 50%"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import { factory } from '../repository/Factory'
import Loader from "components/Loader";
import { SimpleFunctions } from 'src/tools/SimpleFunctions'

const ConfigRepository = factory.get('config')
const RollRepository = factory.get('roll')

export default {
  name: "Roll",
  computed: {
    ...mapGetters('main', ['getConfigName', 'getLoading'])
  },
  components: {Loader},
  mixins: [SimpleFunctions],
  data: function () {
    return {
      loading: false,
      rolled: false,
      games: 1,
      rolls: 1,
      results: [],
      finalTeam1: "",
      finalTeam2: ""
    }
  },
  mounted() {

  },
  methods: {
    ...mapMutations('main', ['setLoading']),
    async roll() {
      this.rolled = true;
      this.loading = true;
      try {
        const Response = await RollRepository.makeRoll(this.getConfigName, this.games, this.rolls);

        if (Response?.status === 200) {
          if (Response?.data?.rolls) {
            this.showResults(Response.data.rolls);
          }

          if (Response?.data?.finalResults) {
            this.finalTeam1 = Response.data.finalResults.team1;
            this.finalTeam2 = Response.data.finalResults.team2;
          } else {
            throw "Bad request";
          }

        } else {
          throw "Bad request";
        }

      } catch (error) {

      }
    },
    async showResults(rolls) {
      let counter = 0;
      let max = rolls.length;

      for (const roll of rolls) {
        await this.sleep(5);

        if (++counter === max) {
          this.loading = false;
        } else {
          this.results.push(roll);
        }
      }
    },
    reset() {
      this.rolled = false;
      this.finalTeam1 = "";
      this.finalTeam2 = "";
      this.results = [];
    }
  }
}
</script>

<style scoped>

</style>
